@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RedHatText';
    src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf");
}

* {
    font-family: 'RedHatText';
    color: #261108;
}

@layer components {
    .main {
        @apply w-screen;
        min-height: 100vh;
        background-color: theme(colors.cream-background);
        display: flex;
        align-items: center;
    }
    .product {
        width: fit-content;
    }
    .image {
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .cartTitle {
        color: hsl(14, 86%, 42%);
    }
    .categoryName {
        @apply text-xs;
        color: #A49695;
    }
    .price {
        color: hsl(14, 86%, 42%);
    }
    .cartButton {
        @apply flex text-sm font-medium px-4 py-2;
        justify-self: center;
        border: 1px solid #261108;
        border-radius: 20px;
        position: absolute;
        bottom: 0;
        background-color: #fff;
    }
    .cart {
        @apply flex flex-col justify-start items-center bg-white py-4 px-10;
        height: fit-content;
        border-radius: 1rem;
    }
    .emptyCartText {
        @apply text-xs py-2 font-medium;
        color: #A49695;
    }
}